div {
    width: 400px;
    height: 550px;
    margin: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

svg {
    width: 100%;
    height: 50%;
    margin: 0 auto;
}

input, p {
    background: #dddddd;
    border:#dddddd;
    margin: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 100%;
    height: 5%;
}

p {
    background: white;
    border:white;
    margin: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 100%;
    height: 5%;
}